.main-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px 25px 20px;
}

/* Logo */
.main-container .logo-box {
  display: flex;
  align-items: center;
}

.main-container .logo-box p {
  color: var(--c-off-white);
  font-size: 18px;
  font-weight: 700;
}

/* Links */
.main-container .box-links {
  display: flex;
  gap: 55px;
}

.main-container nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

.main-container nav ul li a {
  color: var(--c-white);
  text-decoration: none;
}

.main-container nav ul li a:hover {
  text-decoration: 4px overline var(--c-theme-primary);
}

.main-container .button-hire a {
  text-decoration: none;
  color: var(--c-white);
  font-weight: bold;
  padding: 15px 35px;
  border-radius: 50px;
  background-size: 200%;
  background-image: linear-gradient(
    to left,
    var(--c-theme-primary) 0%,
    var(--c-theme-secondary) 51%,
    var(--c-theme-primary) 100%
  );
  transition: 0.4s;
}

.main-container .button-hire a:hover {
  background-position: -100%;
  box-shadow: 0px 0px 40px -12px var(--c-theme-primary-2);
}
