/* Geral */
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
}

.main-container section {
  max-height: 100vh;
}

/* Hero */
.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  background: var(--c-theme-primary);
  background: linear-gradient(
    260deg,
    var(--c-theme-primary) 0%,
    rgba(115, 67, 210, 0) 100%
  );
  filter: blur(150px);
  margin-right: -5%;
  margin-top: -5%;
  z-index: -1;
}

.home-container .main-text-box {
  display: flex;
  flex-direction: column;
  color: var(--c-off-white);
}

.main-text-box .main-text h2 {
  font-size: 36px;
}

.main-text-box .main-text h1 {
  font-size: 65px;
  background: linear-gradient(
    to right,
    var(--c-theme-primary) 0%,
    var(--c-white) 140%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0;
}

.main-text-box .main-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  max-width: 550px;
  width: 100%;
}

.main-text-box .nav-links {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links .download-cv {
  display: flex;
  align-items: center;
}

.nav-links .download-cv a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--c-theme-primary);
  border-radius: 50px;
  padding: 17px 35px;
  border: 1px solid var(--c-theme-primary);
  transition: 0.3s;
}

.nav-links .download-cv a:hover {
  color: var(--c-white);
  background-color: var(--c-theme-primary);
}

.main-container .nav-links .social-links ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.main-container .nav-links .social-links ul li:hover a::before {
  transform: scale(1);
}

.main-container .nav-links .social-links ul li:hover a i::before {
  color: var(--c-white);
}

.main-container .nav-links .social-links ul li a {
  color: var(--c-theme-primary);
  width: 35px;
  height: 35px;
  border: 1px solid var(--c-theme-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.main-container .nav-links .social-links ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--c-theme-primary);
  transform: scale(0);
  transition: 0.3s ease-out;
  border-radius: 50%;
  z-index: -1;
}

.home-container .hero-box img {
  position: relative;
  border: 2px solid var(--c-theme-secondary);
  border-radius: 38px;
  transform: rotate(4.3deg);
  transition: 0.3s;
}

.home-container .hero-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: var(--c-theme-primary);
  background: linear-gradient(
    260deg,
    var(--c-theme-primary) 0%,
    rgba(115, 67, 210, 0) 100%
  );
  filter: blur(150px);
  margin-left: 56%;
  margin-bottom: 7%;
  z-index: -1;
}

.home-container .hero-box img:hover {
  border: 2px solid var(--c-theme-primary);
  transform: rotate(0);
}

/* Sobre */
.main-container .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--c-black-2);
  color: var(--c-white);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 40px;
  gap: 25px;
  margin-right: 100px;
  border-radius: 20px;
  background-color: var(--c-theme-accent-2);
}

.main-container .about h2 {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--c-theme-primary) 0%,
    var(--c-white) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .img-about-hero img {
  width: 150px;
  border-radius: 8px;
}

.about .text-about p {
  text-align: justify;
  line-height: 25px;
  letter-spacing: 1px;
  hyphens: auto;
  font-size: 18px;
  font-weight: 400;
  color: var(--c-white);
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 20px 30px;
}

.time-line {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--c-theme-accent-2);
  padding: 25px;
  border-radius: 20px;
  width: 100%;
}

.box-content:hover {
  background: linear-gradient(
    260deg,
    var(--c-theme-secondary) 0%,
    var(--c-theme-primary) 100%
  );
}

.box-content:hover .years {
  color: var(--c-white);
}

.time-line .box-content div {
  color: var(--c-theme-primary);
  font-size: 20px;
  font-weight: 800;
}

.time-line .box-content h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Carrossel */
#section-skills {
  background-color: var(--c-theme-accent-1);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-skills .skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-skills .skills-title h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 100px;
  background: linear-gradient(
    to right,
    var(--c-theme-primary) 0%,
    var(--c-white) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-skills .carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  perspective: 1000px;
}

.carousel .carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.carousel-content .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 520px;
  padding: 12px;
  border-radius: 10px;
  background: url("../img/bg/bg-cards.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  transform-origin: center;
}

.carousel-content .cards h3 {
  background-color: var(--c-title-card);
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px 10px 0 0;
  color: var(--c-white);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.carousel-content .cards img {
  width: 100%;
  max-height: 280px;
}

.cards .description {
  background-color: var(--c-description-card);
  border-radius: 0 0 10px 10px;
}

.cards .description h4 {
  background-color: var(--c-grey-4);
  font-size: 20px;
  color: var(--c-white);
  padding: 12px;
}

.cards .description p {
  font-size: 14px;
  padding: 12px;
  text-align: justify;
  max-height: 110px;
  overflow-y: auto;
  hyphens: auto;
}

.carousel .btn-arrow {
  position: absolute;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid var(--c-theme-primary);
  border-radius: 50%;
  color: var(--c-theme-primary);
  transition: 0.3s;
  z-index: 10;
  background: transparent;
}

.carousel .btn-arrow:hover {
  background: var(--c-theme-primary);
  color: var(--c-white);
}

.carousel .button-previous {
  left: 200px;
}

.carousel .button-next {
  right: 200px;
}

.carousel-content .card-0 {
  transform: translateX(-80%);
  opacity: 0.4;
  z-index: 3;
}

.carousel-content .card-1 {
  opacity: 1;
  transform: translateZ(110px);
  z-index: 5;
}

.carousel-content .card-2 {
  transform: translateX(80%);
  opacity: 0.4;
  z-index: 3;
}
