@media (max-width: 1150px) {
  .main-container .button-hire {
    margin-right: 50px;
  }

  .main-container .menu {
    display: block;
  }

  .main-container .box-links nav ul {
    display: none;
  }

  .main-container .box-links input:checked ~ ul {
    display: block;
  }

  .main-container .box-links nav {
    position: absolute;
    top: 45px;
    right: 25px;
    z-index: 1;
  }

  .main-container .box-links nav ul {
    background-color: var(--c-theme-primary-3);
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
    margin-right: -25px;
    padding: 35px;
    border-radius: 8px;
  }

  .main-container .box-links nav ul a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: 0.2s;
  }

  .main-container .box-links nav ul a:hover {
    text-decoration: none;
    background-color: var(--c-theme-primary-2);
    border-radius: 8px;
  }
}

@media (max-width: 620px) {
  .main-container .logo-box img {
    width: 60px;
  }

  .main-container .logo-box p,
  .main-container .box-links .button-hire {
    font-size: 14px;
  }

  .main-container .box-links .button-hire a {
    padding: 10px 20px;
  }

  .main-container .box-links nav {
    top: 26px;
  }
}

@media (max-width: 475px) {
  .main-container .logo-box p {
    display: none;
  }
}
