.main-container .menu {
  display: none;
  width: 60px;
  height: 60px;
  align-self: flex-end;
}

.main-container .box-links nav label {
  display: flex;
  flex-direction: column;
}

.main-container .hamburger {
  background-color: var(--c-white);
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.main-container .hamburger::before,
.main-container .hamburger::after {
  background-color: var(--c-white);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.main-container .hamburger::before {
  top: -10px;
}

.main-container .hamburger::after {
  bottom: -10px;
}

.main-container .box-links input {
  display: none;
}

.main-container .box-links input:checked ~ label .hamburger {
  transform: rotate(45deg);
}

.main-container .box-links input:checked ~ label .hamburger::before {
  transform: rotate(90deg);
  top: 0;
}

.main-container .box-links input:checked ~ label .hamburger::after {
  transform: rotate(90deg);
  bottom: 0;
}

@media (max-width: 1150px) {
  .main-container .button-hire {
    margin-right: 50px;
  }

  .main-container .menu {
    display: block;
  }

  .main-container .box-links nav ul {
    display: none;
  }

  .main-container .box-links input:checked ~ ul {
    display: block;
  }

  .main-container .box-links nav {
    position: absolute;
    top: 45px;
    right: 25px;
    z-index: 1;
  }

  .main-container .box-links nav ul {
    background-color: var(--c-theme-primary-3);
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    margin-right: -25px;
    padding: 35px;
    border-radius: 8px;
  }

  .main-container .box-links nav ul a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: 0.2s;
  }

  .main-container .box-links nav ul a:hover {
    text-decoration: none;
    background-color: var(--c-theme-primary-2);
    border-radius: 8px;
  }
}

@media (max-width: 620px) {
  .main-container .logo-box img {
    width: 60px;
  }

  .main-container .logo-box p,
  .main-container .box-links .button-hire {
    font-size: 14px;
  }

  .main-container .box-links .button-hire a {
    padding: 10px 25px;
  }

  .main-container .box-links nav {
    top: 26px;
  }
}

@media (max-width: 475px) {
  .main-container .logo-box p {
    display: none;
  }
}
