@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  /* Colors */
  --c-body: #dddddd;
  --c-white: #ffffff;
  --c-off-white: #f6f3fc;
  --c-black: #000000;
  --c-black-2: #050709;
  --c-black3: #5c6266;
  --c-black4: #585859;
  --c-heading-primary: #102039;
  --c-heading-secondary: #ea1826;
  --c-theme-primary: #8750f7;
  --c-theme-primary-1: #2400ff;
  --c-theme-primary-2: #9b8dff;
  --c-theme-primary-3: #4654f9;
  --c-theme-secondary: #2a1454;
  --c-theme-accent-1: #0f0715;
  --c-theme-accent-2: #140c1c;
  --c-grey-1: #747779;
  --c-grey-2: #d9d9d9;
  --c-grey-3: #dddddd;
  --c-grey-4: #22272c;
  --c-grey-5: #636363;
  --c-grey-6: #1b262e;
  --c-bg: #0c1115;
  --c-bg-2: #0e1418;
  --c-bg-3: #10171c;
  --c-bg-4: #151b1f;
  --c-border: #1b2227;
  --c-border1: #2a343c;

  /* Fonts */
  --ff-body: "Sora", sans-serif;
  --ff-heading: "Sora", sans-serif;

  /* Weight */
  --fw-normal: normal;
  --fw-elight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-sbold: 600;
  --fw-bold: 700;
  --fw-ebold: 800;
  --fw-black: 900;

  /* Size */
  --fz-body: 16px;
  --fz-btn: 15px;
  --fz-p: 18px;
  --fz-h1: 65px;
  --fz-h2: 45px;
  --fz-h3: 30px;
  --fz-h4: 24px;
  --fz-h5: 22px;
  --fz-h6: 18px;
  --fz-sub-title: 36px;
}
